@{
    ViewBag.Title = "Information Document Page";
}
<div @*onclick="informationStore();" onload="informaionTimerStart();"*@>
    <h4 class="text-center top">Сводная информация</h4>
    <hr />
    <p>Количество файлов:&nbsp;<span id="fileCount"></span></p>
    <p>Занимаемый объём:&nbsp;<span id="fileVolume"></span></p>
</div>
